<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <style>
        .container{
            border: 3px red solid
        }
    </style>
</head>
<body>
    <div class="container">
        <label>username:</label><input id="username" type="id" placeholder="id를 입력해주세요." required><br>
    <label>password:</label><input id="password" type="password" placeholder="password를 입력해주세요." required><br>
    <label>email:</label><input id="email" type="email" placeholder="email을 입력해주세요."><br>
    <label>age:</label><input id="age" type="text" placeholder="나이를 입력해주세요."><br>
    <label>height:</label><input id="height" type="text" placeholder="키를 입력해주세요."><br>
    <label>weight:</label><input id="weight" type="text" placeholder="몸무게를 입력해주세요."><br>
    <button id="button" type="submit">제출</button>
    </div>
    

    <script>
        const username = document.querySelector("#username");
        const password = document.querySelector("#password");
        const email = document.querySelector("#email");
        const age = document.querySelector("#age");
        const height = document.querySelector("#height");
        const weight = document.getElementById("weight");

        const signupbutton = document.querySelector("#button");

        signupbutton.addEventListener("click", sign);

        function sign() {
            const request = {
                username : username.value,
                password : password.value,
                email : email.value,
                age : age.value,
                height : height.value,
                weight : weight.value
            }
            // fetch(): 요청하는 함수
            fetch("http://127.0.0.1:8000/accounts/register/", {
                // withCredentials: true,
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(request) // json형식으로 보냄
            })
        }
    </script>
</body>
</html>